<!DOCTYPE html>
<html>
<head>
    <title>Otimização</title>
</head>
<body>
    <h1>Otimização</h1>
    <form method="POST" action="/">
        {{ form.csrf_token }}
        <div>
            {{ form.rows.label }} {{ form.rows(size=5) }}
            {% for error in form.rows.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.cols.label }} {{ form.cols(size=5) }}
            {% for error in form.cols.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
